.image{
    width: 100%;
}

.rounded{
    border-radius: 50% !important;
}

.shadowEffect{
    box-shadow: 5px 20px 10px 1px rgba(0, 0, 0, 0.253) !important;
}

.comment{
    margin-left: auto;
    margin-right: 0;
}