@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    font-family: 'Lobster', cursive;
}


.ListStyle{
    list-style: none;
}

ul > li{
    font-size: large;
}

.btnStyles{
    background-color: #55B8CF;
    min-height: 40px;
    border-radius: 10px;
    margin: 0px !important;
}

.textStyles{
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #55b8cf;
}

.showMore{
    background-color: #55b8cf !important;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
