@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef !important;
  font-family: 'Indie Flower', cursive;
}


/* added css */
.page-item.active .page-link{
  background-color: #5AC3DC !important;
  border-color: #5AC3DC !important;
}

a{
  color: #5AC3DC !important;
}